label{
    display: block;
}
form{
    margin: auto;

}
h2{
    text-align: center;
    color: red;
}
fieldset{
    width: 50px;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    justify-content: center;

}
input{
    margin-left: 15px;
    display: block;
}
label{
    margin-left: 15px;
    margin-bottom: 15px;
}
body{
    background-color: antiquewhite;
}
button{
    margin-left: 15px;
    margin-bottom: 15px;
}
